body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-principal {
    width: 100%;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-header {
    margin: 0 auto;
    width: 980px;
}

.logo {
    display: inline-block;
    width: 60%;
}

.menu-header {
    display: inline-block;
    width: 30%;
    text-align: end;
}

.menu-header ul li {
    display: inline;
}

.main {
    width: 100%;
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main div {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
}

h1 {
    margin: 0 auto;
}

input {
    display: inline;
}